@font-face {
  font-family: "Bahnschrift";
  src: url(/client/public/fonts/BAHNSCHRIFT.TTF);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bahnschrift", sans-serif;
}

/* CSS COLOUR VARIABLES: */
/* colours from the Okable-Ito palette:

Black (#000000)

Orange (#E69F00)

Sky Blue (#56B4E9)

Bluish Green (#009E73)

Yellow (#F0E442)

Blue (#0072B2)

Vermillion (#D55E00)

Reddish Purple (#CC79A7)*/

:root {
  --logo-green: #009e73;
  --logo-orange: #e69f00;
  --logo-grey: #696969;
  --darker-green: #00805e;
  --darker-orange: #db7500;
  --darker-grey: #545454;
  --neutral-color-white: #f9f9f9;
}

/* .container {
  color: var(--primary-bg-color);
  background-color: var(--primary-color);
  padding: 15px;
} */

body {
  height: 100vh;
}

/* styling for disclaimer */
.modal {
  border: none;
  margin: auto;
  width: 80vw;
  max-width: 260px;
  text-align: center;
  background-color: var(--neutral-color-white);
  padding: 1.5em;
  border-radius: 10px;
  color: var(--darker-grey);
  box-shadow: 5px 5px 15px var(--logo-grey);
}

#closeModal {
  margin-top: 1em;
  padding: 1em 1.5em;
  color: var(--neutral-color-white);
  background-color: var(--darker-green);
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.modal h2,
.modal p {
  margin-bottom: 1em;
}

#closeModal:hover {
  cursor: pointer;
  background-color: var(--darker-orange);
}

/* STYLING FOR HEADER SECTION */
header {
  background-color: var(--neutral-color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--darker-grey);
  border-bottom: var(--darker-green) 4px solid;
}

header h1 {
  font-size: 1.2em;
  text-align: center;
  margin: 1em 0 0.5em 0;
}

.header-span {
  color: var(--logo-green);
}

.header-items {
  display: flex;
}

.header-nav {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.header-nav button {
  max-height: 50px;
  min-height: 44px;
  padding: 0.5em 0.3em;
  font-weight: bold;
  background-color: var(--darker-green);
  color: var(--neutral-color-white);
  border: none;
  border-radius: 10px;
  margin-bottom: 0.5em;
}

.header-nav button:active,
.header-nav button:hover {
  background-color: var(--darker-orange);
}

.submit-visit-btn {
  max-width: 120px;
}

/* .header-items button {
  z-index: 1;
  height: fit-content;
  width: fit-content;
  padding: 3px;
  border-radius: 5px;
  background-color: var(--secondary-color-light);
  color: var(--primary-color-dark); */
/* font-family: Tahoma, sans-serif; */
/* font-weight: 800;
  margin: 3px;
  min-width: 100px;
  min-height: 50px;
} */

.header-items button:active {
  background-color: var(--secondary-color-extralight);
  color: var(--primary-color-light);
}

.logo {
  height: 18vh;
}

h1 {
  margin-top: 3%;
}

/* nav {
  grid-row: 2/3;
  font-size: 0.8rem;
  display: flex;
  gap: 3rem;
} */

/* STYLING FOR MAIN SECTION */
main {
  background-color: var(--primary-color-medium);
  position: relative;
  height: auto;
  width: auto;
  /* font-family: Tahoma, sans-serif; */
}

#map {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 75vh;
  width: 100%;
}

/* MAP MARKERS */

.restaurant_name {
  font-size: 1rem;
  color: var(--primary-color-dark);
}

.restaurant_address {
  color: var(--primary-color-dark);
}

.restaurant_weblink:link {
  font-weight: bold;
  color: var(--primary-color-dark);
}

.restaurant_weblink:visited {
  color: var(--primary-color-medium);
}

.restaurant_weblink:hover,
.restaurant_weblink:active {
  color: var(--primary-color-light);
}

.diet-icon {
  margin: 0.4em;
  box-sizing: border-box;
  padding: 0.5em;
  height: 80px;
  width: 80px;
  background-color: rgb(23, 38, 38);
  border-radius: 10%;
  color: white;
}

/* ICONS KEY SIDEBAR */

.key_sidebar {
  box-sizing: border-box;
  padding-top: 60px;
  padding-left: 20px;
  height: 100%;
  width: 400px;
  background-color: var(--neutral-color-white);
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  overflow-y: auto;
  transform: translateX(100%);
  transition: all 1s ease;
  scrollbar-color: black var(--neutral-color-white);
}

.key_sidebar.open {
  transform: translateX(0);
}

.key_sidebar h2,
.submit-visit h2,
.guide_h2,
.filter_h2 {
  margin-bottom: 0.5em;
  color: black;
}

.key_sidebar .close_btn,
.guide .close-guide-btn,
.submit-visit .submit-visit-close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  border: none;
  background-color: unset;
}

.open_btn {
  position: fixed;
  margin: 0.5em;
  padding: 0.5em;
  background-color: white;
  right: 10px;
  z-index: 1;
  border-radius: 5px;
  font-weight: bold;
  color: var(--primary-color-dark);
}

.key_sidebar li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  border-bottom: solid 1px black;
  color: var(--primary-color-dark);
}

.key_sidebar li:last-child {
  border-bottom: none;
}

.key-icon {
  box-sizing: content-box;
  width: 45px;
  height: 45px;
  background-color: rgb(23, 38, 38);
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0.5em;
  border-radius: 10%;
}

/* STYLING FOR GUIDE & FILTERS POP-IN */

.guide {
  box-sizing: border-box;
  padding: 60px 20px 0 20px;
  height: 100%;
  width: 400px;
  top: 0;
  background-color: var(--neutral-color-white);
  position: fixed;
  z-index: 1;
  transform: translateX(-100%);
  transition: all 1s ease;
  overflow-y: auto;
  scrollbar-color: black var(--neutral-color-white);
}

.guide.open {
  transform: translateX(0);
}

.guide li {
  padding: 1.1em 0.5em 1.1em 0;
  list-style: none;
  font-size: 0.9em;
  border-bottom: solid 1px black;
  color: var(--primary-color-dark);
}

.filter_h2 {
  padding-top: 60px;
}

.filter_checkboxes {
  display: flex;
  flex-direction: column;
}

.guide_filter_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.guideIcons,
.guideSubmit {
  font-weight: bold;
}

option {
  font-size: 1rem;
  /* font-family: Tahoma, sans-serif; */
}

option:active {
  background-color: var(--secondary-color-light);
}

/* STYLING FOR FORM SUBMIT VISIT SIDEBAR */

.submit-visit {
  box-sizing: border-box;
  padding: 60px 20px 0 20px;
  height: 100%;
  width: 400px;
  top: 0;
  background-color: var(--neutral-color-white);
  position: fixed;
  z-index: 2;
  overflow-y: auto;
  color: var(--primary-color-dark);
  transform: translateX(-100%);
  transition: all 1s ease;
  scrollbar-color: black var(--neutral-color-white);
}

.submit-visit.open {
  transform: translateX(0);
}

.submit-visit h2 {
  margin-bottom: 0.5em;
}

.submit-visit p {
  font-size: 0.9em;
}

.submit-visit label {
  margin-top: 1.5em;
}

.submit-visit form {
  display: flex;
  flex-direction: column;
  color: var(--primary-color-dark);
  font-size: 0.9em;
  font-weight: bold;
}

.hidden {
  display: none;
}

.tickbox {
  margin-right: 15px;
}

textarea,
input {
  margin-bottom: 5px;
  margin-top: 5px;
}

form button {
  margin-bottom: 20px;
}

#popin-close-button:hover,
#popin-button:hover,
#guide-button:hover,
#guide-close-button:hover,
a {
  cursor: pointer;
}

/* FOOTER STYLING  */
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: var(--neutral-color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-top: var(--darker-green) solid 3px;
  color: var(--darker-green);
}

footer h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5em 0;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-links a {
  font-weight: bold;
  margin: 0 1em;
  text-wrap: wrap;
  color: var(--logo-green);
  font-size: 0.7em;
  text-align: left;
}

.footer-links:active,
.footer-links:hover {
  color: var(--logo-orange);
}

@media (min-width: 320px) {
  .header-text-btns-div {
    margin-right: 1em;
  }
  .header-nav {
    justify-content: space-evenly;
  }
}

@media (min-width: 685px) {
  header h1 {
    margin-right: 20px;
    margin-left: 1em;
    font-size: 1.5em;
  }
  .header-nav {
    flex-direction: column;
    margin-top: 0.5em;
  }
  .header-text-btns-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}

@media (min-width: 800px) {
  header h1 {
    font-size: 1.5em;
  }
  .header-nav {
    flex-direction: row;
  }
  .header-text-btns-div {
    justify-content: space-between;
    flex-grow: 1;
  }
}

@media (min-width: 975px) {
  header h1 {
    font-size: 1.9em;
  }
  .header-nav button {
    font-size: 1em;
    max-width: 150px;
    padding: 0.5em 1em;
  }
}

@media (min-width: 1105px) {
  header h1 {
    font-size: 2.4em;
    margin-left: 1em;
  }
}
